.avatar-image {
  @include pxRem(width, 100);
  @include pxRem(height, 100);
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }
  .input-image {
    display: none;
  }
  .select-image {
    @include pxRem(width, 30);
    @include pxRem(height, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    background: #fff;
  }
}
