.profile {
  @include pxRem(padding, 0 100);
  .user-info {
    @include pxRem(margin-top, -44);
    @include pxRem(padding, 32 0);
    border: 1px solid map-get($color, grey-e);
    text-align: center;
    background: map-get($color, white);
    .btn-change {
      @include pxRem(padding, 8);
      @include pxRem(margin, 0 8);
      border-radius: 5px;
      background: map-get($color, primary);
      color: map-get($color, white);
    }
    .btn-edit {
      @include pxRem(padding, 8);
      @include pxRem(margin, 0 8);
      border-radius: 5px;
      background: map-get($color, blue-a);
      color: map-get($color, white);
    }
    .user-avatar {
      position: relative;
      .btn-follow {
        position: absolute;
        bottom: 0;
        left: 51%;
      }
    }
    .avatar-img {
      @include pxRem(width, 100);
      @include pxRem(height, 100);
      border-radius: 100%;
      object-fit: cover;
    }
  }
  .profile-body {
    @include pxRem(margin, 0 -10);
  }
  .notification {
    @include pxRem(height, 200);
    text-align: center;
    background: map-get($color, white);
  }
}
