.section-articles-list {
  text-align: center;
  .btn-load-more {
    @include pxRem(padding, 10);
    background: map-get($color, primary);
    color: map-get($color, white);
  }
  .none-articles {
    font-size: map-get($font-size, sm);
  }
}
.blog-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.blog-description {
  margin: 0 20%;
  text-align: center;
  font-size: map-get($font-size, normal);
  color: map-get($color, grey-c);
}
