.badge {
  @include pxRem(padding, 2 8);
  display: inline-block;
  font-size: map-get($map: $font-size, $key: sm);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  color: map-get($map: $color, $key: grey-b);
  &.badge-primary {
    background-color: map-get($map: $color, $key: primary);
  }
  &.badge-secondary {
    background-color: map-get($map: $color, $key: secondary);
  }
  &.badge-danger {
    background-color: map-get($map: $color, $key: danger);
  }
  &.badge-tag {
    @include pxRem(margin-right, 8);
    background-color: #f2f2f2;
  }
  &.badge-tag-sidebar {
    @include pxRem(padding, 8 16);
    background-color: #f2f2f2;
    font-size: map-get($map: $font-size, $key: normal);
    color: map-get($map: $color, $key: black);
  }
}
