.form-wrapper {
  width: 100%;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  .form-group {
    @include pxRem(margin-bottom, 15);
    position: relative;
    .input-group {
      .form-control {
        @include pxRem(padding, 12);
        width: 100%;
        border: 1px solid #d8dfee;
        border-radius: 5px;
        outline: none;
        &:focus {
          border-color: #7f7f81;
        }
        &:invalid {
          border: 1px solid #f4aabd;
        }
      }
      input[type="file"] {
        &.form-control {
          padding: 0;
          border: none;
        }
      }
      .form-label {
        @include pxRem(top, -9);
        @include pxRem(left, 20);
        position: absolute;
        font-size: map-get($map: $font-size, $key: xxs);
        color: #878a92;
        opacity: 0;
        background-color: map-get($map: $color, $key: white);
      }
      .msg-error {
        @include pxRem(margin-top, 8);
        @include pxRem(padding, 0 10);
        position: relative;
        display: block;
        border-radius: 5px;
        font-size: map-get($map: $font-size, $key: xs);
        color: #a83232;
        background-color: #ffdbdc;
        &::after {
          content: "";
          position: absolute;
          left: 5%;
          bottom: 100%;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #ffdbdc;
        }
      }
      select {
        &.form-control {
          @include pxRem(padding, 14 12);
          -webkit-appearance: none;
          -moz-appearance: none;
          background: url("/assets/icons/arrow-down.svg") 97% 9px no-repeat;
          background-color: map-get($map: $color, $key: white);
        }
      }
      .form-control:focus ~ .form-label {
        opacity: 1;
      }
      .form-control:focus::placeholder {
        color: transparent;
      }
    }
  }
  .col-form-label {
    @include pxRem(margin-bottom, 5);
    display: block;
  }
  .msg-error-ck {
    @include pxRem(margin-top, 8);
    @include pxRem(padding, 0 10);
    position: relative;
    display: block;
    border-radius: 5px;
    font-size: map-get($map: $font-size, $key: xs);
    color: #a83232;
    background-color: #ffdbdc;
    &::after {
      content: "";
      position: absolute;
      left: 5%;
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #ffdbdc;
    }
  }
  .btn-group {
    @include pxRem(margin-bottom, 20);
    p {
      text-align: center;
    }
  }
}
input[type="file"]::file-selector-button {
  @include pxRem(padding, 12 25);
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid map-get($map: $color, $key: primary);
  color: map-get($map: $color, $key: primary);
  font-weight: 600;
  &:hover {
    background-color: map-get($map: $color, $key: primary);
    color: map-get($map: $color, $key: white);
  }
}
