.sidebar {
  @include pxRem(padding-left, 30);
  .widget {
    @include pxRem(margin-bottom, 35);
    border-bottom: 1px solid map-get($map: $color, $key: grey-e);
    &:last-child {
      border-bottom: none;
    }
    .widget-title {
      @include pxRem(padding, 0 25);
    }
    .widget-content {
      @include pxRem(padding, 15 25 30);
      font-style: italic;
      text-align: center;
      .content-quote {
        @include pxRem(padding-bottom, 20);
      }
      .byline {
        color: map-get($map: $color, $key: grey-c);
        font-size: map-get($map: $font-size, $key: xs);
      }
    }
    .categories-list {
      @include pxRem(padding, 15 25 30);
      overflow: hidden;
      .categorie-item {
        @include pxRem(padding, 0 15 10 0);
        float: left;
        a {
          color: map-get($map: $color, $key: grey-c);
          font-size: map-get($map: $font-size, $key: sm);
        }
      }
    }
    .follow-item {
      .user-img {
        @include pxRem(height, 68);
        display: block;
        width: 100%;
        border-radius: 5px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      .user-name {
        display: block;
        font-size: map-get($font-size, xs);
        word-break: break-word;
        color: map-get($color, black);
      }
    }
    .popular-list {
      .popular-item {
        @include pxRem(margin-bottom, 10);
        @include pxRem(padding, 15 25 25);
        border-bottom: 1px solid map-get($map: $color, $key: grey-a);
        &:last-child {
          @include pxRem(margin, 0);
          @include pxRem(padding, 15 25);
          border-bottom: none;
        }
        .wrap-popular-item {
          @include pxRem(height, 100);
          display: flex;
          .article-image {
            @include pxRem(margin-right, 20);
            height: 100%;
            object-fit: cover;
          }
          .article-content {
            .article-title {
              @include pxRem(max-height, 16);
              height: 100%;
              margin-bottom: 5px;
              font-size: map-get($map: $font-size, $key: sm);
              line-height: 1.1;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            }
            .article-description {
              @include pxRem(max-height, 60);
              height: 100%;
              font-size: map-get($map: $font-size, $key: xs);
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            }
            span {
              font-size: map-get($map: $font-size, $key: xxs);
              color: map-get($map: $color, $key: grey-b);
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
  .list-follow {
    @include pxRem(padding, 15 25 30);
  }
  .none-follower {
    font-size: map-get($font-size, sm);
  }
}
